.img{
    display: flex;
    justify-content: center;
    margin-right: 300px;
}
.hang-man-img{
    height: 30vh;
    margin-top: 100px;
}
p{
    margin-right: 150px;
    padding-top: 30px;
}
.cell-1{
  height: 50px;
width: 50px;
border-bottom: solid;
margin-right: 7px;
}
.cell-2{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-3{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-4{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-5{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-6{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-7{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-8{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-9{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
.cell-10{
    height: 50px;
    width: 50px;
    border-bottom: solid;
    margin-right: 7px;
}
